<template>
  <div class="hospital-form-wrapper">
    <h1></h1>
    <form @submit.prevent="login">
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Hospital form</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-text-field name="Name" label="Name" type="text" v-model="hospital.name"></v-text-field>
          <v-text-field name="Slogan" label="Slogan" type="text" v-model="hospital.slogan"></v-text-field>
          <v-text-field name="Address" label="Address" type="text" v-model="hospital.address"></v-text-field>
          <v-combobox
            v-model="hospital.contacts"
            label="Hospital phones, emails and other contacts"
            chips
            clearable
            multiple
          >
            <template slot="selection" slot-scope="data">
              <v-chip
                :selected="data.selected"
                close
                @input="removeContact(data.item)"
              >
                <strong>{{ data.item }}</strong>&nbsp;
              </v-chip>
            </template>
          </v-combobox>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn 
            :loading="loading"
            :disabled="loading"
            @click="login"
            type="submit"
            color="primary">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </form>
  </div>
</template>
<script>
export default {
  name: 'hospital-form',
  data () {
    return {
      newAddress: '',
      hospital: {
        name: '',
        slogan: '',
        address: '',
        contacts: [],
        departments: [],
      }
    }
  },
  methods: {
    removeContact (item) {
      this.hospital.contacts.splice(this.hospital.contacts.indexOf(item), 1)
      this.hospital.contacts = [...this.hospital.contacts]
    }
  }
}
</script>
