<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <h1>Home</h1>
      </v-flex>

      <v-flex xs12>
        <hospital-form></hospital-form>
      </v-flex>
      
    </v-layout>
  </v-container>
</template>

<script>
  import HospitalForm from './partials/forms/Hospital.vue'
  export default {
    data: () => ({
    }),
    components: {
      'hospital-form': HospitalForm
    }
  }
</script>

<style>

</style>
