<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <form @submit.prevent="login">
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Login</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-text-field prepend-icon="person" name="login" label="Login" type="text" v-model="user.email"></v-text-field>
                  <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="user.password"></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn 
                    :loading="loading"
                    :disabled="loading"
                    @click="login"
                    type="submit"
                    color="primary">
                    Login
                  </v-btn>
                </v-card-actions>
                <v-card-text class="pb-1 pt-0 text-xs-center">
                  <p>No account yet? <router-link to="/signup" style="text-decoration: none;">Click here</router-link> to signup.</p>
                </v-card-text>
              </v-card>
            </form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import {EventBus} from '../main'
  export default {
    name: 'login',
    data: () => ({
      loading: false,
      user: {
        email: '',
        password: ''
      },
      redirect: '/'
    }),

    mounted () {
      if (this.$route.query && this.$route.query.redirect) {
        this.redirect = this.$route.query.redirect
      } else {
        this.redirect = '/'
      }
      if (this.$store.getters.is_logged_in) {
        this.$router.push(this.redirect)
      }
    },

    methods: {
      login () {
        console.log('login', this.user)
        this.loading = true
        let self = this
        this.$store.dispatch('LOGIN', this.user).then(resp => {
          /* eslint-disable-next-line no-console */
          self.loading = false
          if (resp && resp.token) {
            self.$http.get('/api/v1/profile').then(resp => {
              if (resp && resp.data) {
                self.$store.commit('SET_PROFILE', resp.data.profile)
              }
            })
            EventBus.$emit('alert_message', {type: 'success', text: 'Login successful'})
            self.$router.push(self.redirect)
          }
        }).catch(err => {
          /* eslint-disable-next-line no-console */
          console.log('login error', err)
          EventBus.$emit('alert_message', {type: 'error', text: err.toString()})
          self.loading = false
        })
      }
    }
  }
</script>