<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <form @submit.prevent="signup">
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Signup</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-text-field prepend-icon="person_outline" name="first_name" label="First name" type="text" v-model="user.first_name"></v-text-field>
                  <v-text-field prepend-icon="person_outline" name="middle_name" label="Middle name" type="text" v-model="user.middle_name"></v-text-field>
                  <v-text-field prepend-icon="person_outline" name="last_name" label="Last name" type="text" v-model="user.last_name"></v-text-field>
                  <v-layout justify-start>
                    <v-flex xs4>
                      <v-radio
                        label="`Male`"
                        :value="user.gender"
                        @click="user.gender = 'male'"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs4>
                      <v-radio
                        label="`Female`"
                        :value="user.gender"
                        @click="user.gender = 'female'"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs4>
                      <v-radio
                        label="`Other`"
                        :value="user.gender"
                        @click="user.gender = 'other'"
                      ></v-radio>
                    </v-flex>
                  </v-layout>
                  <div>
                     <v-menu
                      :close-on-content-click="false"
                      v-model="showBirthday"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="birthdayStr"
                        label="Birth date"
                        prepend-icon="event"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="birthdayStr" @input="birthdayChanged"></v-date-picker>
                    </v-menu>
                  </div>
                  <v-text-field :prepend-icon="phoneOrEmailIcon.icon" name="signup" :label="phoneOrEmailIcon.label" type="text" v-model="phoneOrEmail"></v-text-field>
                  <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="user.password"></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn 
                    :loading="loading"
                    :disabled="loading || !(fullName !== '' && isValidEmail(user.email) && isValidPass(user.password))"
                    @click="signup"
                    type="submit"
                    color="primary">
                    Sinup
                  </v-btn>
                </v-card-actions>
                <v-card-text class="pb-1 pt-0 text-xs-center">
                  <p>Already  have account? <router-link to="/login" style="text-decoration: none;">Click here</router-link> to login.</p>
                </v-card-text>
              </v-card>
            </form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import {EventBus} from '../main'
  export default {
    name: 'signup',
    data () {
      let d = new Date()
      let before18years = new Date(d.getFullYear() - 18, d.getMonth(), d.getDate()).toISOString().split('T')[0]
      return {
        loading: false,
        user: {
          first_name: '',
          middle_name: '',
          last_name: '',
          gender: 'other',
          birthday: (new Date(before18years)).toISOString(),
          email: '',
          phone: '',
          password: ''
        },
        phoneOrEmail: '',
        isPhone: false,
        isEmail: false,
        phoneOrEmailIcon: {icon: 'help', label: 'Phone or Email'},
        birthdayStr: before18years,
        showBirthday: false,
        redirect: '/login'
      }
    },

    computed: {
      fullName () {
        let fName = this.user.first_name
        if (this.user.middle_name) {
          fName += ' ' + this.user.middle_name
        }
        if (this.user.last_name) {
          fName += ' ' + this.user.last_name
        }
        return fName
      },
      nameValid () {
        return this.fullName !== ''
      }
    },

    watch: {
      phoneOrEmail: function (newValue) {
        console.log('watch phoneOrEmail', newValue)
        this.phoneOrEmailChanged()
        if (this.isPhone) {
          
        }
        if (this.isEmail) {
          
        }
        
      }
    },

    mounted () {
      if (this.$route.query && this.$route.query.redirect) {
        this.redirect = this.$route.query.redirect
      } else {
        this.redirect = '/'
      }
      if (this.$store.getters.is_logged_in) {
        this.$router.push(this.redirect)
      }
    },

    methods: {
      phoneOrEmailChanged (e) {
        if (this.isValidEmail(this.phoneOrEmail)) {
          this.isEmail = true
          this.isPhone = false
          this.user.email = this.phoneOrEmail
          this.user.phone = ''
          this.phoneOrEmailIcon = {icon: 'alternate_email', label: 'Email'}
        } else if (this.isValidPhone(this.phoneOrEmail)) {
          this.isEmail = false
          this.isPhone = true
          this.user.email = ''
          this.user.phone = this.phoneOrEmail
          this.phoneOrEmailIcon = {icon: 'phone', label: 'Phone'}
        } else {
          this.isEmail = false
          this.isPhone = false
          this.user.phone = ''
          this.user.email = ''
          this.phoneOrEmailIcon = {icon: 'help', label: 'Phone or Email'}
        }
      },
      isValidPhone (phone) {
        return /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im.test(phone)
      },
      isValidEmail (email) {
        if (typeof email !== 'string') {
          return false
        }
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)
      },
      isValidPass (pass) {
        if (typeof pass !== 'string') {
          return false
        }
        if (pass.length < 8) {
          return false
        }
        return true
      },
      birthdayChanged (e) {
        console.log('birthdayChanged', e)
        if (e) {
          this.user.birthday = (new Date(e)).toISOString()
          this.birthdayStr = e
        }
        this.showBirthday = false
      },
      signup () {
        console.log('signup', this.user)
        this.loading = true
        let self = this
        this.$store.dispatch('SIGNUP', this.user).then(resp => {
          /* eslint-disable-next-line no-console */
          self.loading = false
          if (resp && resp.token) {
            self.$http.get('/api/v1/profile').then(resp => {
              if (resp && resp.data) {
                self.$store.commit('SET_PROFILE', resp.data.profile)
              }
            })
            EventBus.$emit('alert_message', {type: 'success', text: 'Signup successful'})
            self.$router.push(self.redirect)
          }
        }).catch(err => {
          /* eslint-disable-next-line no-console */
          console.log('signup error', JSON.stringify(err.response.data))
          if (err && err.response && err.response.data && err.response.data.msg) {
            EventBus.$emit('alert_message', {type: 'error', text: err.response.data.msg})
          } else {
            EventBus.$emit('alert_message', {type: 'error', text: err.toString()})
          }
          self.loading = false
        })
      }
    }
  }
</script>