<template>
  <div>
    <v-app v-if="!$route.meta.noLayout">
      <v-navigation-drawer
        v-model="drawer"
        fixed
        app
      >
        <v-list dense>
          <v-list-tile @click="$router.push({name: 'Home'})">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="$router.push({name: 'Profile'})">
            <v-list-tile-action>
              <v-icon>contact_mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="$router.push({name: 'Login'})" v-if="!$store.getters.is_logged_in">
            <v-list-tile-action>
              <v-icon>person</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Login</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="logout" v-else>
            <v-list-tile-action>
              <v-icon>person_outline</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Logout</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Application</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <router-view></router-view>
      </v-content>
      <v-footer color="indigo" app>
        <span class="white--text">&copy; 2017</span>
      </v-footer>
    </v-app>
    <v-snackbar
      v-model="success_message.show"
      :color="'success'"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="success_message.timeout"
      :vertical="false"
    >
      {{ success_message.text }}
      <v-btn
        dark
        flat
        icon
        @click="success_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-snackbar
      v-model="error_message.show"
      :color="'error'"
      class="black--text"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="error_message.timeout"
      :vertical="false"
    >
      <b>{{ error_message.text }}</b>
      <v-btn
        dark
        flat
        icon
        @click="error_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import {EventBus} from './main'
export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      success_message: {
        show: false,
        timeout: 5000,
        text: ''
      },
      error_message: {
        show: false,
        timeout: 5000,
        text: ''
      }
    }
  },
  computed: {
    drawer: {
      get () {
        return this.$store.getters.drawer
      },
      set (newValue) {
        this.$store.commit('DRAWER', newValue)
      }
    }
  },

  beforeMount () {
    this.initUser()
    EventBus.$on('alert_message', data => {
      if (data && data.type === 'error') {
        this.error_message.text = data.text
        this.error_message.show = true
      } else if (data && data.type === 'success') {
        this.success_message.text = data.text
        this.success_message.show = true
      }
    })
  },

  methods: {
    initUser () {
      let auth = window.localStorage.getItem('auth')
      if (auth != null) {
        console.log('auth', auth)
        auth = JSON.parse(auth)
        console.log('auth', auth)
        this.$store.commit('SET_TOKEN', auth.jwt_token)
        this.$store.commit('SET_LEVEL', auth.level)
        this.$store.commit('SET_PROFILE', auth.profile)
      }
    },
    logout () {
      this.$store.dispatch('CLEAR_ALL')
      this.$router.push('/login')
      EventBus.$emit('alert_message', {type: 'success', text: 'Logout successful'})
    }
  }
}
</script>
